* {
  margin: 0;
  padding: 0;
  font-family: ubuntu;
  box-sizing: border-box;
}

.main-app {
  display: inline-block;
  min-height: 100vh;
  min-width: 100%;
  background: getColor("background");
}
