@use "sass:map";

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

%container {
  width: 100%;
  margin-right: auto !important;
  margin-left: auto !important;
  padding: $spacer * .25;
}

@each $n,
$v in $breakpoints {

  .container,
  .container-#{$n} {
    @extend %container;
  }
}

@each $n,
$v in $breakpoints {
  @media (min-width: $v) {
    .container {
      max-width: map.get($container-max-widths, $n);
    }

    $check: true;

    @each $i,
    $j in $breakpoints {
      @if($check) {
        .container-#{$i} {
          max-width: map.get($container-max-widths, $n);
        }

        @if($n ==$i) {
          $check: false;
        }
      }
    }
  }
}