@use "sass:map";

// Buttons
.btn {
  font-size: $button-font-size;
  color: #fff;
  padding: $button-padding;
  margin: $button-margin;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #0000;
  outline: none;
  cursor: pointer;
  transition: $transition-button-1;
  border-radius: $button-radius;

  &:hover {
    transition: $transition-button-1  !important;
    transform: $button-hover-translate;
  }

  &:active {
    transition: $transition-button-1;
    transform: $button-active-translate;
  }

  &:focus-visible {
    transition: $transition-button-2;
  }

}

@each $name,
$color in $colors {
  .btn-#{$name} {

    background: $color;

    &:hover {
      background: darken($color, $button-hover-darken);
    }

    &:active {
      background: darken($color, $button-active-darken);
    }

    &:focus-visible {
      outline: 3px solid rgba($color, .4);
    }

  }
}

// Alt Button
.btn-alt {
  font-size: $button-font-size;
  color: getColor("alt-text");
  background: getColor("alt-background");
  padding: $button-padding;
  margin: $button-margin;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #0000;
  outline: none;
  cursor: pointer;
  transition: $transition-button-1;
  border-radius: $button-radius;

  &:hover {
    transition: $transition-button-1  !important;
    transform: $button-hover-translate;
  }

  &:active {
    transition: $transition-button-1  !important;
    transform: $button-active-translate;
  }

  &:focus-visible {
    transition: $transition-button-2;
    outline: 3px solid rgba(map.get($colors, "primary"), 0.5);
  }

}


// compact Button
.btn-com {
  padding: $button-com-padding;
  margin: $button-margin;

  &:hover {
    transform: $button-com-hover-translate  !important;
  }

  &:active {
    transform: $button-com-active-translate  !important;
  }
}